@import "@/styles/var"

.chairs
	position: relative
	
	&__items
		position: relative
	
	&__item
		display: grid
		grid-template-columns: .5fr 1.5fr
	
	&__info
		position: relative
	
	&__infoRight
		background: rgba($color-blue, .2)
	
	&__infoLeft
		background: $color-blue
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	
	&__subtitle
		color: white
		margin-bottom: 3vw
		font-size: 1.5vw
		//margin-bottom: 3rem
		//font-size: 1.5rem
	
	&__logo
		img
			width: 100%
			height: auto
	
	
	&__title
		margin-top: 6vw
		//margin-top: 6rem
		text-align: center
		font-size: 2vw
		//font-size: 2rem
		position: relative
		margin-bottom: 3vw
		//margin-bottom: 3rem
		
		h2
			&:after
				content: ""
				position: absolute
				width: 9vw
				height: 0.4vw
				//width: 9rem
				//height: 0.4rem
				background-color: $color-blue
				margin: auto
				left: 0
				right: 0
				display: block
	
	&__decription
		display: grid
		grid-template-columns: 1.5fr 0.5fr
		grid-gap: 1vw
		//grid-gap: 1rem
		align-items: center
		justify-content: center
		align-content: center
		padding: 0 1vw
		//padding: 0 1rem
	
	&__img
		display: flex
		justify-content: center
		align-items: center
		
		img
			width: 70%
			height: auto
	
	&__content
		position: relative
	
	&__headOfDepartment,
	&__contancts,
	&__email
		display: grid
		grid-template-columns: .4fr 1.6fr
		margin-bottom: 2vw
		//margin-bottom: 2rem
		
		a
			color: $color-blue-dark
			text-decoration: underline
			transition: all .3s
			
			&:hover
				color: $color-orange
	
	&__text
		color: black
	
	
	&__textBold
		font-family: $FiraExtra

.tab
	position: relative
	
	&__nav
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr
		align-items: center
		background: rgba($color-blue, .2)
	
	
	&__list
		position: relative
	
	&__link
		background: transparent
		padding: 1vw 5vw
		//padding: 1rem 5rem
		outline: none
		border: none
		font-size: 2vw
		//font-size: 2rem
		text-align: center
		cursor: pointer
		transition: all .3s
		
		
		&:hover
			color: white
			background: $color-blue
	
	&__item
		position: relative
		overflow: hidden
	
	&__activeLink
		color: white
		background: $color-blue
	
	&__items
		position: relative
	
	&__list
		position: absolute
		opacity: 0
		top: -100px
		visibility: hidden
		pointer-events: none
		transition: all .3s
		z-index: -1
	
	
	&__active
		position: relative
		opacity: 1
		visibility: visible
		pointer-events: all
		top: 0
		z-index: 0
	
	&__title,
	&__listItem
		display: grid
		grid-template-columns: .5fr 1.5fr
	
	&__title
		position: relative
		z-index: 1
		background: $color-blue
		color: white
	
	&__titleItem,
	&__listTitle,
	&__listItem
		font-family: $FiraExtra
	
	
	&__titleItem
		font-size: 1.5vw
		//font-size: 1.5rem
		text-align: center
		border: 1px solid $color-blue-dark
		
		p
			margin: 1vw auto
			//margin: 1rem auto
	
	&__listTitle
		border-right: 1px solid $color-blue-dark
		text-align: center
		padding: 1.3vw 0
		//padding: 1.3rem 0
		
		a
			color: $color-blue-dark
			text-decoration: underline
			transition: all .3s
			
			&:hover
				color: $color-orange
	
	&__listContent
		border-left: 1px solid $color-blue-dark
		font-family: $FiraSemi
		padding: 1.3vw
		//padding: 1.3rem

@media (max-width: 1024px)
	.chairs
		&__title
			margin-top: 1vw
			//margin-top: 1rem
		
		&__item
			grid-template-columns: 1fr
	.tab
		&__title,
		&__listItem
			grid-template-columns: 1fr 1fr
		
		&__listTitle
			display: flex
			align-items: center
			justify-content: center
			padding: 5px
		
		&__listContent
			padding: 5px
		
		&__nav
			grid-template-columns: 1fr
		
		&__link,
		&__titleItem,
		&__listContent,
		&__listTitle
			font-size: 1vw
			//font-size: 1rem

@media (max-width: 576px)
	.chairs
		&__title
			font-size: 1vw
			//font-size: 1rem
		
		&__decription
			grid-template-columns: 1fr
		
		&__content
			order: 2
		
		&__img
			order: 1
			padding: 1vw
			//padding: 1rem
			
			img
				width: 50%
		
		&__headOfDepartment,
		&__contancts,
		&__email
			grid-template-columns: 1fr

@media (max-width: 428px)
	.tab
		&__link,
		&__titleItem,
		&__listContent,
		&__listTitle
			font-size: .8vw
			//font-size: .8rem